<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mondai</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.0/ace.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <header>
        <img src="../../img/logo.svg" alt="MaiCoder">
        <div>
            <a href="../../code-test.html">コードテスト</a>
        </div>
    </header>
    <div class="title">
        <h1>タイトル</h1>
        <p>実行時間: 3000s, メモリ制限: 1024MB</p>
    </div>
    <main>
        <div id="content"></div>
        <h1>提出</h1>
        <div class="form-container">
            <form>
                <label>
                    言語:
                    <select class="compiler" onchange="compiler_change()">
                        <option value="python,pypy-3.7-v7.3.9">Python: pypy-3.7-v7.3.9</option>
                        <option value="c++,gcc-head">C++: gcc-head</option>
                    </select>
                </label>

                <label>
                    コードテスト:
                    <div id="editor"></div>
                </label>
                <button type="button" class="primary submit" onclick="go()">
                    <p>提出</p>
                </button>
            </form>
        </div>
    </main>
    <script src="../../js/submit.js"></script>
    <script>
        async function get_problem(){
            const data = await fetch("https://api.maicoder.f5.si/quiz/testa")
            preview(data)
        }
        function preview(data) {
            document.getElementById('content').innerHTML = marked.parse(data);
        }
        get_problem()
    </script>
</body>

</html>