<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mondai</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.0/ace.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <template>
        <button class="copy" onclick="copy(this)">copy</button>
    </template>
    <header>
        <a href="/">
            <img src="../../img/logo.svg" alt="MaiCoder">
        </a>
        <div>
            <a href="../../code-test.html">コードテスト</a>
        </div>
    </header>
    <div class="title">
        <h1></h1>
        <p>実行時間: 3000ms, メモリ制限: 1024MB</p>
    </div>
    <main>
        <div id="content"></div>
        <h1>提出</h1>
        <div class="form-container">
            <form>
                <label>
                    言語:
                    <select class="compiler" onchange="compiler_change()">
                        <option value="python,pypy-3.7-v7.3.9">Python: pypy-3.7-v7.3.9</option>
                        <option value="c++,gcc-head">C++: gcc-head</option>
                    </select>
                </label>

                <label>
                    コードテスト:
                    <div id="editor"></div>
                </label>
                <div class="action">
                    <button type="button" class="primary submit" onclick="go()">
                        <p>提出</p>
                    </button>
                    <button type="button" onclick="in_judge()">
                        <p>コードテスト</p>
                    </button>
                    <div class="test-result"></div>
                </div>
            </form>
        </div>
    </main>
    <script src="../../js/submit.js"></script>
    <script src="../../js/common.js"></script>
    <script>
        let test_case = {
            input: [],
            output: []
        }


        function set_title(name) {
            document.querySelector(".title h1").innerText = name
        }

        async function set_problem() {
            const json = await get_problem(location.pathname.split('/')[2])
            await preview(json.content.split('\\n').join('\n'))
            await set_title(json.name)
        }

        function preview(data) {
            document.getElementById('content').innerHTML = marked.parse(data)

            document.querySelectorAll("#content h1").forEach(element => {
                if (element.innerText.includes("入力例")) {
                    let code = element.nextElementSibling.children[0].innerText
                    test_case.input.push(code)
                }
                if (element.innerText.includes("出力例")) {
                    let code = element.nextElementSibling.children[0].innerText
                    test_case.output.push(code)
                }
            })

            code_addcopy()
        }

        function in_judge() {
            let message = []
            document.querySelector(".test-result").innerHTML = ''
            test_case.input.forEach(async (data_in, index) => {
                let data_out = test_case.output[index]
                let data = {
                    compiler: document.querySelector("select.compiler").value.split(",")[1],
                    code: editor.getValue(),
                    stdin: data_in
                }
                let case_name = "例" + (index + 1)
                let test = await get_judge(data)
                if (test.message.status == 1) {
                    message.push(case_name + ":" + badge('ce'))
                } else if (test.message.program_message == data_out) {
                    message.push(case_name + ":" + badge('ac'))
                } else {
                    message.push(case_name + ":" + badge('wa'))
                }
                document.querySelector(".test-result").innerHTML = message
            })
        }

        function copy(element) {
            navigator.clipboard.writeText(element.nextElementSibling.children[0].innerText)
        }

        function code_addcopy() {
            document.querySelectorAll("pre code").forEach(element => {
                element.closest("pre").before(document.querySelector("template").content.cloneNode(true))
            })
        }
        set_problem()
    </script>
</body>

</html>