@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&display=swap');


body {
    background-color: #eee;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", "Noto Sans JP", serif;
}

.form-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 52px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form textarea.code,
#editor {
    width: 100%;
    height: 300px;
}

textarea.input {
    width: 100%;
}

select.compiler {
    width: fit-content;
}

form button {
    width: fit-content;
}

.output {
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    background-color: #222;
    color: #fff;
    justify-content: space-between;
}

header div {
    display: flex;
    gap: 25px;
}

header h1 {
    font-size: 20px;
}

.title {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.title h1 {
    font-size: 32px;
}

.title p {
    opacity: 0.8;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 18px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid;
    border-color: #ffffff #ffffff00;
    animation: l1 1s infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}

table td,
th {
    padding: 4px;
    vertical-align: middle;
}

ul {
    list-style: disc;
}

textarea.code {
    font-family: monospace;
}

