h1 {
    font-size: 32px;
    font-weight: 600;
}

main {
    margin: auto;
    width: 100%;
    max-width: 900px;
    padding: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

label {
    line-height: 1.4;
}

select {
    border: 1px #ccc solid;
    padding: 6px 10px;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    border: 1px #ccc solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 7px;
}

button span,
button .loader {
    display: none;
}

button.primary.loading {
    opacity: 0.7;
}

button.primary.loading span,
button.primary.loading .loader {
    display: inline !important;
}

button.primary {
    background-color: #2476ea;
    border: 1px #005ee1 solid;
    color: #fff;
}

textarea,input[type="text"] {
    padding: 8px 16px;
    border: 1px #ccc solid;
    border-radius: 4px;
}

textarea.monospace {
    font-family: monospace;
}

button:active {
    background-color: #eee;
}

button.primary:active {
    background-color: #0f5bc6;
}

#editor {
    border: 1px #ccc solid;
    border-radius: 4px;
}

.output {
    padding: 8px 16px;
    border: 1px #ccc solid;
    border-radius: 4px;
    background-color: #f4f4f4;
    overflow-y: scroll;
}

.editor-container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}

.editor-container #editor {
    width: 100%;
}

#content {
    width: 100%;
    line-height: 1.5;
    position: relative;
}

pre:has(code) {
    padding: 20px;
    background-color: #eee;
}

.test_case-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    width: 100%;
}

.test_case-container textarea {
    min-height: 60px;
    width: 100%;
    resize: vertical;
}

.test_case-container table {
    counter-reset: rowCount;
    width: 100%;
}

.test_case-container button {
    white-space: nowrap;
}

table th {
    counter-increment: rowCount;
}

table th:before {
    content: counter(rowCount);
}

#content h1 {
    margin-top: 30px;
}

pre {
    position: relative;
}

button.copy {
    position: absolute;
    z-index: 100;
    right: 0;
    transform: translate(-5px,5px);
    padding: 4px 6px;
    background-color: #fff;
}

button.copy:active{
    background-color: #eee;
}

.action {
    display: flex;
    gap: 8px;
    align-items: center;
}

img.badge {
    width: 50px;
}

.badge {
    width: 46px;
    height: 24px;
    background-size: 100%;
    display: inline-block;
}

.badge.ac {
    background-image: url(../img/ac.svg);
}

.badge.tle {
    background-image: url(../img/tle.svg);
}

.badge.ce {
    background-image: url(../img/ce.svg);
}

.badge.wa {
    background-image: url(../img/wa.svg);
}

.test-result {
    display: flex;
    gap: 4px;
    align-items: center;
}