h1 {
    font-size: 32px;
    font-weight: 600;
}

main {
    margin: auto;
    width: 100%;
    max-width: 900px;
    padding: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

label {
    line-height: 1.4;
}

select {
    border: 1px #ccc solid;
    padding: 6px 10px;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    border: 1px #ccc solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 7px;
}

button span,
button .loader {
    display: none;
}

button.primary.loading {
    opacity: 0.7;
}

button.primary.loading span,
button.primary.loading .loader {
    display: inline !important;
}

button.primary {
    background-color: #2476ea;
    border: 1px #005ee1 solid;
    color: #fff;
}

textarea {
    padding: 8px 16px;
    border: 1px #ccc solid;
    border-radius: 4px;
}

textarea.monospace {
    font-family: monospace;
}

button:active {
    background-color: #eee;
}

button.primary:active {
    background-color: #0f5bc6;
}

#editor {
    border: 1px #ccc solid;
    border-radius: 4px;
}

.output {
    padding: 8px 16px;
    border: 1px #ccc solid;
    border-radius: 4px;
    background-color: #f4f4f4;
    overflow-y: scroll;
}

.editor-container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}

.editor-container #editor {
    width: 100%;
}

#content {
    width: 100%;
    line-height: 1.5;
}

pre:has(code) {
    padding: 20px;
    background-color: #eee;
}

.test_case-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.test_case-container textarea {
    min-height: 60px;
    width: 300px;
    resize: vertical;
}

.test_case-container table {
    counter-reset: rowCount;
}

table th {
    counter-increment: rowCount;
}

table th:before {
    content: counter(rowCount);
}

#content h1 {
    margin-top: 30px;
}